@using CatenaccioStore.Application.Services.Products.DTOs
@model List<ProductDto>
@{
    ViewData["Title"] = "List Of Products";
}

<form asp-action="Search" asp-controller="Products" method="get" class="d-flex" style="margin-top: 50px">
    <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search" name="searchString">
    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
</form>

<table id="basic-datatable" class="table dt-responsive nowrap w-100">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Short Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.ShortTitle</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Brand</td>
                <td>@item.Quantity</td>
                <td>@item.CategoryName</td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="AdminPanel" asp-action="AdminPanelUpdateProduct" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a>
                    <a class="btn btn-outline-warning" asp-controller="AdminPanel" asp-action="AdminPanelProductDetails" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                    <a class="btn btn-outline-danger delete-product-btn"
                       data-id="@item.Id"
                       data-action="@Url.Action("AdminPanelDeleteProduct", "AdminPanel", new { area = "" })">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination">
        @if (ViewBag.PageSize > 0)
        {
            for (int i = 1; i <= ViewBag.TotalCount / ViewBag.PageSize + 1; i++)
            {
                <li class="page-item @(i == ViewBag.PageIndex ? "active" : "")">
                    <a class="page-link" href="@Url.Action("AdminPanelProduct", "Products", new { pageIndex = i, pageSize = ViewBag.PageSize })">@i</a>
                </li>
            }
        }
    </ul>
</nav>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.delete-product-btn').on('click', function () {
                var productId = $(this).data('id');
                var actionUrl = $(this).data('action');

                // Display a confirmation dialog
                var confirmDelete = confirm('Are you sure you want to delete this product?');

                if (confirmDelete) {
                    // Make an AJAX request to delete the product
                    $.ajax({
                        type: 'POST',
                        url: actionUrl,
                        data: { Id: productId },
                        success: function () {
                            // Redirect or update the UI as needed
                            window.location.href = '@Url.Action("AdminPanelProduct", "AdminPanel", new { area = "" })';
                        },
                        error: function () {
                            alert('Error deleting product.');
                        }
                    });
                }
            });
        });
    </script>
}